.project-cards-container .ProjectCard {
  display: inline;
}
.project-cards-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}

@media only screen and (max-width: 600px) {
  .project-cards-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
  }
}
