.search {
  background: rgba(236, 236, 236, 0.825) !important;
  color: black !important;
  padding: 0.1rem 1rem !important;
  width: 90%;
  max-width: 600px;
}
.search::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(97, 97, 97);
  opacity: 1; /* Firefox */
}
